* {
margin: 0 ;
padding :0;
box-sizing :border-box;

}
button{
padding:10px 5px;
border:none;
transition:0.2s ease-in-out;

}
button:hover{
opacity:0.8;
transition:0.2s ease-in-out;
}
nav{
box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
position: sticky;
top: 0;
margin-bottom: 32px;
background:white;

}
.navigation{
   display: flex;
   justify-content:space-between;
   align-items:center; 
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.bar_icon{
font-size:32px;
}
.hero{
    /* display:grid; */
display:flex;
flex-direction:column;
gap: 100px;
justify-content: center;
}
.tag{
    background-color:green;
    padding:5px 10px;
    color:white;
}
.hero_content h1{
    font-size: 42px;
    line-height:1.2;
    font-weight:580;
}
.explore_btn{
background:rgb(212, 32, 19);
color: black;
padding:5px 8px;
border-radius:10px;
}
.redeem{
    display:grid;
}
/* @media(max-width:768px){
.hero{
    flex-direction:column;
}
.hero_image{
    display:flex;
  justify-content:center;  
}
.hero_image{
    width:80%;
}
.hero_content{
    gap:10px;
    padding:10px;
} */

/* } */